.home-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.home-title {
  max-width: 1024px;
  font-size: 20px;
  color: black;
}

@media screen and (max-width: 1024px) {
  .home-container {
    padding: 0 12px 0 12px;
  }
}
