.front-page {
  width: calc(100% - 40px);
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
  padding: 0 20px;
}

.front-page-item {
  position: relative;
  flex: 1;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  box-shadow: 1px 1px 3px slategray;
}

.front-page-img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.front-page-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .front-page {
    overflow-x: auto;
    padding: 0;
    width: auto;
  }
  .front-page-item {
    max-width: 300px;
    flex: auto;
    flex-shrink: 0;
  }

  .front-page::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  .front-page::-webkit-scrollbar {
    height: 6px;
    background-color: #f5f5f5;
  }

  .front-page::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #55555577;
  }
}
