.front-page {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
  padding: 0 20px;
}

.front-page-item {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
}

.front-page-img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.front-page-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .front-page {
    overflow-x: auto;
    padding: 0;
  }
  .front-page-item {
    flex-shrink: 0;
    max-width: 300px;
  }
}
