.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 1px 1px 2px #445f85;
}

.header-container {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.header-container.list-mode {
  margin: 20px 0px 0px 0px;
}

.header-list {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  max-width: 100%;
  overflow: auto;
  /*overflow-x: scroll;*/
}

.header-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-list-item.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.header-description {
  margin: 20px 0px;
}
.header-github {
  margin-right: 10px;
}

.header-btn {
  background-color: #006ce4;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: white;
  padding: 11px 18px;
  border-color: #0071c2;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  box-shadow: 1px 1px 5px slategray;
}

.header-signIn-btn {
  background-color: #006ce4;
  color: white;
  padding: 10px;
  border-radius: 4px;
  border-color: #0071c2;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

.header-search-container {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1024px;
  margin: auto;
  margin-top: -35px;
}

.header-search {
  width: 100%;
  background-color: #febb02;
  border: 2px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
}

.header-icon {
  color: #6b6b6b;
}

.header-search-item {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px 30px 15px 15px;
  border-radius: 3px;
  gap: 10px;
}
.header-search-date {
  display: flex;
  gap: 10px;
}

.header-search-item:nth-child(4) {
  padding: 0;
  background-color: unset;
}

.header-search-input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0;
}

.header-search-text {
  color: #6b6b6b;
  cursor: pointer;
  font-size: 16px;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
  left: 310px;
}

.dialog-close-button {
  background-color: rgb(61, 145, 255);
  color: white;
  display: block;
  padding: 8px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.options {
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.option-item {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.option-counter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.option-counter-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.option-counter-btn:disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 1024px) {
  /*Header title and description*/
  .header {
    padding: 0px 10px 0 10px;
    white-space: nowrap;
  }
  .header-container {
    margin-bottom: 0;
  }
  .header-title {
    display: none;
  }
  .header-list {
    margin-bottom: 25px;
  }
  .header-list::-webkit-scrollbar {
    height: 4px;
  }
  .header-description {
    display: none;
  }
  .header-signIn-btn {
    display: none;
  }

  /*Search bar styles*/
  .header-search {
    max-width: 100%;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }
  .header-search-container {
    margin-top: 50px;
    padding: 12px;
  }
  .header-search-item {
    margin: 5px 5px 3px 5px;
  }
  .header-btn {
    padding: 15px;
    flex: 1;
  }

  .options {
    top: 180px;
  }
  .option-item {
    padding: 5px;
  }

  .date {
    top: 125px;
    left: 20px;
  }
  .date .rdrMonth {
    max-width: 90%;
  }
  .date .rdrCalendarWrapper {
    max-width: 90vw;
  }
}

@media screen and (max-width: 320px) {
  .header-search-item {
    overflow-y: auto;
  }
}
