.font-link {
  font-family: "Fira Sans", sans-serif;
}

.navbar {
  background-color: #003580;
  height: 50px;
  display: flex;
  justify-content: center;
}

.nav-container {
  width: 100%;
  max-width: 1024px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  font-size: 30px;
}

.nav-button {
  margin-left: 20px;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border-radius: 2px;
  padding: 6px 12px;
  cursor: pointer;
  color: #0071c2;
}

@media screen and (max-width: 1024px) {
  .nav-container {
    padding: 10px 10px 0 10px;
  }
  .navbar {
    height: auto;
    margin-bottom: -3px;
  }
}
